<% content_for :title, @issue.summary %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p id="notice">
                        <%= notice %>
                    </p>
                    <p class="float-left">
                        <%= link_to 'Go back to ' +@issue.project.projectName , @issue.project, class: "btn btn-primary"
                            %>
                    </p>
                    <p class="float-right">
                        <% if @issue.done==1%>
                            <a title="Completed" class="btn btn-default" href="javascript:;"><i class="fa fa-check-circle text-success"></i></a>
                        <% end %>
                        <%= link_to 'Update' , edit_issue_path(@issue), class: "btn btn-primary" %>
                        <%= link_to 'Issues' , issues_path, class: "btn btn-info" %>
                        <% if @issue.start==0 && (@issue.stop==0 || @issue.stop==1) && @issue.done==0 %>
                            <a onclick="site.changeIssueStatus('start',<%=@issue.id;%>)" href="javascript:;" class="btn btn-dark">Start</a>
                        <% end %>
                        <% if @issue.start==1 && @issue.stop==0 %>
                            <a onclick="site.changeIssueStatus('stop',<%=@issue.id;%>)" href="javascript:;" class="btn btn-danger">Stop</a>
                        <% end %>
                        <% if @issue.done==0%>
                            <a onclick="site.changeIssueStatus('done',<%=@issue.id;%>)" href="javascript:;" class="btn btn-success">Completed</a>
                        <% end %>
                        <% if @issue.done==1 && (@issue.reopen==0 || @issue.reopen==1)%>
                            <a onclick="site.changeIssueStatus('reopen',<%=@issue.id;%>)" href="javascript:;" class="btn btn-warning">Reopen</a>
                        <% end %>
                    </p>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <h5>Description: </h5>
                                <div class="card">
                                    <div class="card-body">
                                        <%= @issue.description %>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Checklist:
                                    <small class="float-right">
                                        <a onclick="site.showCheckListModal(<%=@issue.id;%>)" href="javascript:;"><i
                                                class="fa fa-plus"></i> Add checklist item</a>
                                    </small>
                                </h5>

                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueChecklist.each do |issueChecklist| %>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <% if issueChecklist.is_completed==1 %>
                                                                <input id="chk-<%=issueChecklist.issue_checklist_id;%>"
                                                                    onclick="site.toggleChecklistCOmpleted(<%=@issue.id;%>,<%=issueChecklist.issue_checklist_id;%>)"
                                                                    checked type="checkbox"
                                                                    value="<%=issueChecklist.issue_checklist_id;%>" />
                                                            <% else %>
                                                                <input
                                                                    id="chk-<%=issueChecklist.issue_checklist_id;%>"
                                                                    onclick="site.toggleChecklistCOmpleted(<%=@issue.id;%>,<%=issueChecklist.issue_checklist_id;%>)"
                                                                    type="checkbox"
                                                                    value="<%=issueChecklist.issue_checklist_id;%>" />
                                                            <% end %>
                                                        </div>
                                                        <div class="col-10">
                                                            <% if issueChecklist.is_completed==1 %>
                                                                <span style="text-decoration: line-through;">
                                                                    <%=issueChecklist.description;%>
                                                                </span>
                                                            <% else %>
                                                                <span>
                                                                    <%=issueChecklist.description;%>
                                                                </span>
                                                            <% end %>
                                                            <br/>
                                                            <small><%= issueChecklist.created_at %></small>
                                                        </div>
                                                        <div class="col-1">

                                                            <% if session[:usertype] == 3 || session[:usertype] == 4 %>
                                                               <%  if session[:user_id] == issueChecklist.user_id %>
                                                                   <a onclick="site.deleteChecklistItem(<%=issueChecklist.issue_checklist_id;%>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                               <% end %>
                                                            <% else %>
                                                                <a onclick="site.deleteChecklistItem(<%=issueChecklist.issue_checklist_id;%>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Attachments:
                                    <small class="float-right">
                                        <a onclick="site.showAttachmentModal(<%=@issue.id;%>)" href="javascript:;"><i
                                                class="fa fa-plus"></i> Add attachments</a>
                                    </small>
                                </h5>
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueImage.each do |issueImage| %>
                                                <li class="list-group-item">
                                                    <b>
                                                        <%=issueImage.user.username;%> added an attachment
                                                    </b>
                                                    <br/>
                                                    <a download href="<%= issueImage.image.url %>">
                                                        <%= image_tag issueImage.image.thumb.url %>
                                                    </a>
                                                    <% if session[:usertype] == 3 || session[:usertype] == 4 %>
                                                        <%  if session[:user_id] == issueImage.userId %>
                                                            <a onclick="site.deleteAttachment(<%= issueImage.id %>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        <% end %>
                                                    <% else %>
                                                        <a onclick="site.deleteAttachment(<%= issueImage.id %>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    <% end %>
                                                    <br/>
                                                    <small><%= issueImage.created_at %></small>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                All Comments
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <% @issue.issueComment.each do |issueComment| %>
                                                        <li class="list-group-item">
                                                            <b>
                                                                <%=issueComment.user.username;%> says 
                                                            </b>
                                                            <%=issueComment.comment;%>

                                                            <% if session[:usertype] == 3 || session[:usertype] == 4 %>
                                                                <%  if session[:user_id] == issueComment.userId %>
                                                                    <a onclick="site.deleteComment(<%= issueComment.id %>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                                        <i class="fa fa-trash"></i>
                                                                    </a>
                                                                <% end %>
                                                            <% else %>
                                                                <a onclick="site.deleteComment(<%= issueComment.id %>,<%=@issue.id;%>)" href="javascript:;" class="float-right">
                                                                    <i class="fa fa-trash"></i>
                                                                </a>
                                                            <% end %>
                                                            <br/>
                                                            <small><%= issueComment.time %></small>
                                                        </li>
                                                    <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5>Comment: </h5>
                                        <textarea id="commentBox" class="form-control"></textarea>
                                        <div class="clearfix">&nbsp;</div>
                                        <a onclick="site.submitComment(<%=@issue.id;%>)"
                                            class="btn btn-info float-right" href="javascript:;">Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Activity</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueActivity.each do |issueActivity| %>
                                                <li class="list-group-item">
                                                    <b>
                                                        <%=issueActivity.user.username;%>
                                                    </b>
                                                    <%=issueActivity.description;%>
                                                    <br/>
                                                    <small><%= issueActivity.created_at %></small>
                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Project</th>
                                        <td>
                                            <%= @issue.project.projectName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Issue Type</th>
                                        <td>
                                            <%= @issue.issueType.issueTypeName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Priority Type</th>
                                        <td>
                                            <%= @issue.priorityType.priorityTypeName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Due Date</th>
                                        <td>
                                            <%= @issue.dueDate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Assignee</th>
                                        <td>
                                            <%= @issue.assigneeUser.username %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Reporter</th>
                                        <td>
                                            <%= @issue.reporterUser.username %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Environment</th>
                                        <td>
                                            <%= @issue.environment %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Original Estimate</th>
                                        <td>
                                            <%= @issue.originalEstimate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Remain Estimate</th>
                                        <td>
                                            <%= @issue.remainEstimate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Added Time</th>
                                        <td>
                                            <%= @issue.addedTime %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="checkListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add checklist item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-chklst-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="attachmentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add attachments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-attachments-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>