<% content_for :title, @issue.summary %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p id="notice">
                        <%= notice %>
                    </p>
                    <p class="float-left">
                        <%= link_to 'Go back to ' +@issue.project.projectName , @issue.project, class: "btn btn-primary"
                            %>
                    </p>
                    <p class="float-right">
                        <%= link_to 'Update' , edit_issue_path(@issue), class: "btn btn-primary" %>
                            <%= link_to 'Issues' , issues_path, class: "btn btn-info" %>
                    </p>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-8">
                            <div>
                                <h5>Description: </h5>
                                <div class="card">
                                    <div class="card-body">
                                        <%= @issue.description %>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Checklist:
                                    <small class="float-right">
                                        <a onclick="site.showCheckListModal(<%=@issue.id;%>)" href="javascript:;"><i
                                                class="fa fa-plus"></i> Add checklist item</a>
                                    </small>
                                </h5>

                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueChecklist.each do |issueChecklist| %>
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-1">
                                                            <% if issueChecklist.is_completed==1 %>
                                                                <input checked type="checkbox" value="<%=issueChecklist.issue_checklist_id;%>" />
                                                            <% else %>
                                                                <input type="checkbox" value="<%=issueChecklist.issue_checklist_id;%>" />
                                                            <% end %>
                                                        </div>
                                                        <div class="col-11">
                                                            <%=issueChecklist.description;%>
                                                        </div>
                                                    </div>
                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Attachments:
                                    <small class="float-right">
                                        <a onclick="site.showAttachmentModal(<%=@issue.id;%>)" href="javascript:;"><i
                                                class="fa fa-plus"></i> Add attachments</a>
                                    </small>
                                </h5>
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueImage.each do |issueImage| %>
                                                <li class="list-group-item">
                                                    <a href="<%= issueImage.image.url %>">
                                                        <%= image_tag issueImage.image.thumb.url %>
                                                    </a>
                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <div class="row">
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-header">
                                                All Comments
                                            </div>
                                            <div class="card-body">
                                                <ul class="list-group list-group-flush">
                                                    <% @issue.issueComment.each do |issueComment| %>
                                                        <li class="list-group-item">
                                                            <b>
                                                                <%=issueComment.user.username;%>
                                                            </b><br />
                                                            <%=issueComment.comment;%>
                                                        </li>
                                                        <% end %>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <h5>Comment: </h5>
                                        <textarea id="commentBox" class="form-control"></textarea>
                                        <div class="clearfix">&nbsp;</div>
                                        <a onclick="site.submitComment(<%=@issue.id;%>)"
                                            class="btn btn-info float-right" href="javascript:;">Add
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <h5>Activity</h5>
                                <div class="card">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <% @issue.issueActivity.each do |issueActivity| %>
                                                <li class="list-group-item">
                                                    <b>
                                                        <%=issueActivity.user.username;%>
                                                    </b><br />
                                                    <%=issueActivity.description;%>
                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <th>Project</th>
                                        <td>
                                            <%= @issue.project.projectName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Issue Type</th>
                                        <td>
                                            <%= @issue.issueType.issueTypeName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Priority Type</th>
                                        <td>
                                            <%= @issue.priorityType.priorityTypeName %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Due Date</th>
                                        <td>
                                            <%= @issue.dueDate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Assignee</th>
                                        <td>
                                            <%= @issue.assigneeUser.username %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Reporter</th>
                                        <td>
                                            <%= @issue.reporterUser.username %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Environment</th>
                                        <td>
                                            <%= @issue.environment %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Original Estimate</th>
                                        <td>
                                            <%= @issue.originalEstimate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Remain Estimate</th>
                                        <td>
                                            <%= @issue.remainEstimate %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Added Time</th>
                                        <td>
                                            <%= @issue.addedTime %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="checkListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add checklist item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-chklst-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="attachmentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add attachments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-attachments-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>