<% content_for :title, "Priority Types" %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p id="notice"><%= notice %></p>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Prioritytypename</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @priority_types.each do |priority_type| %>
                        <tr>
                            <td><%= priority_type.priorityTypeName %></td>
                            <td><%= link_to 'Show', priority_type %></td>
                            <td><%= link_to 'Edit', edit_priority_type_path(priority_type) %></td>
                            <td><%= link_to 'Destroy', priority_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

                <br>

                <%= link_to 'New Priority Type', new_priority_type_path %>

            </div>
        </div>
    </div>
</div>