<% content_for :title, @user.username %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <p id="notice"><%= notice %></p>
        <p class="float-right">
          <%= link_to 'Update', edit_user_path(@user), class: "btn btn-primary" %>
          <%= link_to 'Back', users_path, class: "btn btn-info" %>
        </p>
        <table class="table table-striped table-bordered">
          <tbody>
            <tr>
              <th>
                Username
              </th>
              <td>
                <%= @user.username %>
              </td>
            </tr>
            <tr>
              <th>
                Email
              </th>
              <td>
                <%= @user.email %>
              </td>
            </tr>
            <tr>
              <th>
                User Type
              </th>
              <td>
                <%= @user.userType.userTypeName %>
              </td>
            </tr>
            <tr>
              <th>
                Created At
              </th>
              <td>
                <%= @user.createTime %>
              </td>
            </tr>
            <tr>
              <th>
                Updated At
              </th>
              <td>
                <%= @user.updateTime %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>