<%= form_with(model: project, local: true) do |form| %>
<% if project.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(project.errors.count, "error") %> prohibited this from being saved:</h2>

    <ul>
        <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="row">
    <div class="col-6">
        <%= form.label :projectName, "Name" %>
        <%= form.text_field :projectName, class: 'form-control' %>
    </div>

    <div class="col-6">
        <%= form.label :projectKey, "Key" %>
        <%= form.text_field :projectKey, class: 'form-control' %>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <%= form.label :projectLeader, "Leader" %>
        <%= form.collection_select(:projectLeader, @leaders, :id, :username, {:include_blank => "Please Select"}, {:class => "form-control"}) %>
    </div>

    <div class="col-6">
        <%= form.label :projectPriority, "Priority" %>
        <%= form.collection_select(:projectPriority, @priorityTypes, :id, :priorityTypeName, {:include_blank => "Please Select"}, {:class => "form-control"}) %>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <%= form.label :projectDetails, "Description" %>
        <%= form.text_area :projectDetails, class: 'form-control' %>
    </div>
</div>
<div class="clearfix">&nbsp;</div>
<div class="form-group">
    <%= form.submit 'Submit', :class => "btn btn-primary" %>
</div>
<% end %>