<% content_for :title, "Projects" %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p id="notice"><%= notice %></p>
                <p class="float-right">
                    <%= link_to 'New Project', new_project_path, class:"btn btn-success" %>
                </p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Key</th>
                            <th>Leader</th>
                            <th>Priority</th>
                            <th>Description</th>
                            <th>Time</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% @projects.each do |project| %>
                        <tr>
                            <td><%= project.projectName %></td>
                            <td><%= project.projectKey %></td>
                            <td><%= project.user.username %></td>
                            <td><%= project.priorityType.priorityTypeName %></td>
                            <td><%= project.projectDetails %></td>
                            <td><%= project.time %></td>
                            <td>
                                <%= link_to fa_icon("eye"), project %>
                                <%= link_to fa_icon("pen"), edit_project_path(project) %>
                                <%= link_to fa_icon("trash"), project, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>