<% content_for :title, @project.projectName %>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <p id="notice">
                        <%= notice %>
                    </p>
                    <p class="float-right">
                        <%= link_to 'New Board' , 'javascript:;' , class: "btn btn-success" , :onclick=>
                            "site.showCreateBoardModal('#{@project.id}')" %>
                            <%= link_to 'Update' , edit_project_path(@project), class: "btn btn-primary" %>
                                <%= link_to 'Back' , projects_path, class: "btn btn-info" %>
                    </p>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>
                                    <%= @project.projectName %>
                                </td>
                            </tr>
                            <tr>
                                <th>Key</th>
                                <td>
                                    <%= @project.projectKey %>
                                </td>
                            </tr>
                            <tr>
                                <th>Leader</th>
                                <td>
                                    <%= @project.user.username %>
                                </td>
                            </tr>
                            <tr>
                                <th>Priority</th>
                                <td>
                                    <%= @project.priorityType.priorityTypeName %>
                                </td>
                            </tr>
                            <tr>
                                <th>Description</th>
                                <td>
                                    <%= @project.projectDetails %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-body">
                    <h3>Board</h3>
                    <div class="row">
                        <% @project.boards.each do |board| %>
                            <div class="col-4">
                                <div class="card">
                                    <div class="card-header">
                                        <%=board.boardName;%>
                                            <a onclick="site.showCreateIssueModal(<%=@project.id;%>,<%=board.id;%>)"
                                                href="javascript:;" class="btn btn-xs btn-primary float-right">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                    </div>
                                    <div class="card-body">
                                        <ul id="board-<%=board.id;%>" ondrop="site.drop(event,<%=board.id;%>)" ondragover="site.allowDrop(event)"
                                            class="list-group" style="cursor: move;padding-top: 30px;padding-bottom: 30px;">
                                            <% board.board_issues.each do |boardIssue| %>
                                                <li id="issue-<%=boardIssue.issueId;%>" ondragover="site.noAllowDrop(event)" draggable="true" ondragstart="site.drag(event)"
                                                    class="list-group-item">
                                                    <% if boardIssue.issue.done == 1 %>
                                                       <i class="fa fa-check mr-2 text-success" title="Done"></i>
                                                    <% else %>
                                                       <i class="fa fa-clock mr-2 text-danger" title="Not Done"></i>
                                                    <% end %>

                                                    <%=boardIssue.issue.summary;%> - <b><%= boardIssue.issue.assigneeUser.username %></b>



                                                    <%= link_to fa_icon("eye"), boardIssue.issue,class: "float-right" %>

                                                </li>
                                                <% end %>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Issue</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-issue-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="boardModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Board</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="ajax-board-form">

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>