<% content_for :title, "User Types" %>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <p id="notice"><%= notice %></p>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>User type name</th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @user_types.each do |user_type| %>
                        <tr>
                            <td><%= user_type.userTypeName %></td>
                            <td><%= link_to 'Show', user_type %></td>
                            <td><%= link_to 'Edit', edit_user_type_path(user_type) %></td>
                            <td><%= link_to 'Destroy', user_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <br>
                <%= link_to 'New User Type', new_user_type_path %>
            </div>
        </div>
    </div>
</div>