<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @issue.assigneeUser.username %></h1>

    <p>
      <%= @issue.reporterUser.username %> updated a task assigned to you in project <%= @issue.project.projectName %>
    </p>

    <br/>

    <p>
    	<%= @issue.description %>
    </p>

    <br/>

    <%= link_to "View Task", @issue %>

  </body>
</html>
